@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top:0;
	left:8vw;
	width: 84vw;
	height: 3.125rem;
}
.nav span {
	display:flex;
	align-items: center;
}
.nav .logo {
	height: 1.75rem;
}
.nav .nav-bar {
	display: none;
	width: 80%;
}
.nav-bar ul {
	display:flex;
	justify-content: space-between;
	width: 100%;	
}
.nav-bar ul li a {
	font-size: 1.150rem;
	color: #000000;
}
.nav .fa-bars,
.nav .fa-times {
	font-size: 2rem;
	font-weight: 600;
}
#about,
#skill,
#portfolio,
#experiences,
#education,
#contact {
	width: 100vw;
	height: 100vh;
	margin-top: 3.125rem;
}
#about .about-container,
#skill .skill-container,
#portfolio .portfolio-container,
#experiences .experience-container,
#education .education-container,
#contact .contact-container {
	width: 78%;
	height: 100%;
	margin-left:11vw;
}
.about-container {
	display: flex;
	justify-content: space-between;
}

}
.about-left {
	display: flex;
	width: 50%;
	height: 100%;
}
.about-right {
	width: 50%;
	height: 100%;	
}


#card-bottom {
	float:left;
	width: 80%;
	height: 75%;
	margin: 10% auto;
	border-radius: 0.625rem;
	background-color: deeppink;
	margin-left: -1.625rem;
	transform: rotateZ(-6deg);
}

#card-top {
	width: 80%;
	height: 75%;
	margin: 10% auto;
	/* background-color: skyblue; */
	background-image: url(../imgs/about_self.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #003648;
	border-radius: 0.625rem;
	margin-left: 3.625rem;
	transform: rotateZ(7deg);
}

.name,
#skill .skill-title,
.portfolio-title,
.experience-title,
.education-title,
.contact-title {
	font-size: 1.75rem;
	font-weight: 500;
	font-family: Poppins;
	color: deeppink;
}
.job-title, 
.sub-skill-title,
.sub-portfolio-title,
.sub-experience-title,
.sub-education-title,
.sub-contact-title {
		font-size: 2.5rem;
		font-weight: 800;
	    line-height: 1.4;
		font-family: Poppins;
		color: #000;
	    text-transform: uppercase;
}
.sub-experience-title {
	color: #2C657D;
}
.role {
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: 1.4;
	font-family: Poppins;
	color: #000;
}
#about .tech-img img {
	width: 70%;
	height: 30%;
}

#skill {
	background-color: #E9F1FF;	
}

#skill .skills-discription {
	float: left;
	width: 50%;
	height: 50%;
}

.sub-skill-title {	
	color: #2C657D;
}

#skill .skill-detail{
	float: left;
	width: 50%;
	height: 25%;
	/* background-color: yellow; */
}

.skill-detail-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50%;
	/* border: 1px solid red; */
}
.skill-detail-title span {
	margin: 2% 10%;
	font-size: 1rem;
	font-weight: 500;
	font-family: Poppins;
	color: #212529;
}
.skill-detail-progress {
	width: 80%;
	height: 10%;
	margin: 0 10%;
	border-radius: 0.625rem;
	background-color: #000000;
}
.solid-skill, 
.solid-skill-html {
	float: left;
	width: 90%;
	height: 100%;
	
	border-radius: 0.625rem;
	background-color: #2C657D;
}

#skill .solid-skill-js,
#skill .solid-skill-jquery {
	width: 85%;
	transition: all 1.3s linear;
}


.solid-skill-node,
.solid-skill-wp,
.solid-skill-java-shell {
	width: 70%;
}

.portfolio-container{
	padding-top: 0.15rem;
}
#portfolio .myswiper-wrapper {
	width: 70vw;
	height: 80vh;
	
}

#portfolio .swiper .mySwiper-slide {
	position: relative;
	width: 20%;
	height: 90%;
	text-align: center;
}

.mySwiper-slide-frame {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 80%;
	border-radius: 0.625rem;
	box-shadow: 0.625rem 0.625rem 0.3125rem lightgray;
	
}
.mySwiper-slide-frame:hover {
	position:absolute;
	top: 45%;
	left: 52%;
}

.mcmd-slide {
	position: absolute;
	background-image: url(../imgs/mcmd_homepage_03.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}
#portfolio .swiper .slide-cover {
	position: absolute;
	top: 0;
	left: 0 ;
	width: 100%;
	height: 100%;
	border-radius: 0.625rem;
	background: rgba(0, 0, 0, .3);	
}
.slide-discription {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.75rem;
	font-weight: 700;
	font-family: Poppins;
	color: white;
}

.android-dev-slide {
	position: absolute;
	background-image: url(../imgs/android-dev.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}
.swiper-button-l,
.swiper-button-r {
	display: none;
}

#experiences {
	background-color: #E9F1FF;		
}

.experience-discription {
	margin-top: 0;
	padding-top: 0.15rem;
}
.expert,
.quanli-certi {
	width: 100%;
	height: 60%;
	margin-top: 4.625rem;
}
.exper-box,
.quanlicerli-box {
	display: flex;
	justify-content: space-between;
	text-align: left;
	width: 100%;
	height: 30%;
	font-size: 1.25rem;
	
}

.education-container {
	padding-top:0.15rem;
}
.year {
	width: 20%;
}
.year-q {
	width: 20%;
	color: #828282;
}
.company,
.job-position,
.subject,
.subject-company {
	text-align: left;
	width: 30%;
	
	
}
.role-discrib,
.institute, 
.cer-link {
	width: 50%;
	color: #828282;
}

#contact {
	background-color: #E9F1FF;
}
.contact-container {
	padding-top: 0.15rem;
}
.contact-detail {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50%;
	/* border: 1px solid blue; */
}
.contact-left {
	width: 40%;
	height:100%;
	font-size: 1.25rem;
	line-height: 2.55rem;
}

.contact-left .contact-location,
.contact-left .contactemail {
	display: flex;
	justify-content: space-between;
}

.contact-right {
	width: 50%;
	height:100%;
}

.contact-right .contact-form {
	width: 100%;
	height: 100%;
	
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact-form .items {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

.contact-form .items .contact-name,
.contact-form .items .contact-email,
.contact-form .items .contact-phone {
	width: 20%;
	font-size: 1.25rem;
}
.contact-form .items input {
	width: 70%;
	outline: none;
	border: 1px solid #E9F1FF;
	border-radius: 0.625rem;
	font-size: 1.25rem;
}
.contact-form .items-message {
	width: 100%;
	display:flex;
	justify-content: space-between;
	font-size: 1.25rem;
}
.contact-form .items-message .contact-message {
	width: 20%;
	font-size: 1.25rem;
}
.contact-form  .items-message .message-detail {
	width: 70%;
	height: 10vh;
	outline: none;
	border: 1px solid #E9F1FF;
	border-radius: 0.625rem;
	font-size: 1.25rem;
}

.reset-submit {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 15%;
	
}
.reset-btn {
	width: 20%;
	border: 1px solid #E9F1FF;
	border-radius: 0.625rem;
	background-color: darkgray;
	font-size: 1.25rem;
	font-family: Poppins;
	
}

.submit-btn {
	width: 70%;
	border: 1px solid #E9F1FF;
	border-radius: 0.625rem;
	background-color: darkcyan;
	font-size: 1.25rem;
	font-family: Poppins;
}
.fa-map-marker-alt,
.fa-envelope {
	font-size: 2.0rem;
}
