body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top:0;
	left:8vw;
	width: 84vw;
	height: 3.125rem;
}
.nav span {
	display:flex;
	align-items: center;
}
.nav .logo {
	height: 1.75rem;
}
.nav .nav-bar {
	display: none;
	width: 80%;
}
.nav-bar ul {
	display:flex;
	justify-content: space-between;
	width: 100%;	
}
.nav-bar ul li a {
	color: #000000;
}
.nav .fa-bars {
	font-size: 2rem;
	font-weight: 600;
}
#about {
	width: 78vw;
	height: 100vh;
	margin-left:11vw;
	margin-top: 3.125rem;
	background-color: pink;
	text-align: center;
	
	
}
