.father {
	display: flex;
	justify-content: space-between;
	width: 31.25rem;
	height: 6.25rem;
	background-color: pink;
	border: 0.0625rem solid black;
}
.son {
	width: 7.5rem;
	height: 6.25rem;
	border: 0.0625rem solid red;
	background-color:black;
}

.father .son {
	opacity: 0;
	
}

.father1 div:nth-child(1),
.father2 div:nth-child(1),
.father3 div:nth-child(1)
{
	transition: all 8s;
	background-color: red;
}

.father1 div:nth-child(3),
.father2 div:nth-child(3),
.father3 div:nth-child(3)
{
	transition: all 30s;
	background-color: green;
}

.father1 div:nth-child(2),
.father2 div:nth-child(2),
.father3 div:nth-child(2)
{
	
	background-color: yellow;
}