.navi_top {
  display: flex;
  // transform: translateY(-25vh);
  z-index: 2;
  margin-top: 49px;
  align-items: center;
  justify-content: center;
  .search-box{
    padding-left: 0;
  }
  .icon-map {
    color: green;
  }
  .icon-back {
    font-size: 15px;
    margin-left: 10px;
  }
}

